
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: $body-text;
  background-color: $bg-color;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  width: 100%;
  height: 100%;
  padding: 20px;
  line-height: 1.6;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

#main {
  padding-bottom: 20px;
}

.application {
  padding-left: 12%;

  &-container {
    width: 100%;
    position: relative;
  }

  &-title {
    width: 100%;
    padding: 0;
    margin: 0 0 30px;
    font-size: 30px;
    text-align: center;
  }

  &-sidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 9%;

    &-action {
      display: block;
      position: relative;
      width: 100%;
      padding: 20px 10px;
      margin: 0 0 5px;
      border: none;
      color: $body-text;
      background-color: $action-button-rgba--inactive;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover,
      &:focus {
        background-color: $action-button-rgba--active;

        .application-sidebar-action-text {
          opacity: 1.0;
        }
      }

      .application-icon {
        display: block;
        width: 60%;
        height: 60%;
        margin: 0 auto 15px;

        > path {
          fill: $body-text;
        }
      }

      &-text {
        display: block;
        position: absolute;
        left: 50%;
        bottom: 10px;
        margin-top: 5px;
        transform: translateX(-50%);
        opacity: 0;
        transition: all 0.3s ease;
      }
    }
  }


  &-character-count {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 9%;
    padding: 10px;
    text-align: center;

    &--ok {
      background-color: $char-count-ok-rgba--inactive;

      &:hover {
        background-color: $char-count-ok-rgba--active;
      }

      .application-icon {
        margin-top: -5px;
      }
    }

    &--too-many-chars {
      background-color: $char-count-bad-rgba--inactive;

      &:hover {
        background-color: $char-count-bad-rgba--active;
      }

      .application-icon {
        margin-top: -2px;
      }
    }

    .application-icon {
      width: 25%;
      height: 25%;
      vertical-align: middle;
      margin-left: -5px;

      > path {
        fill: $body-text;
      }
    }
  }
}

.path {
  &-list {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;

    &-item{
      position: relative;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &-input {
        width: 100%;
        padding: 10px 58px 10px 10px;
        border: 1px solid $developer-gray;
      }

      &-button {
        position: absolute;
        right: 0;
        width: 48px;
        height: 100%;
        border: none;
        text-align: center;
        vertical-align: middle;
        color: $body-text;
        background-color: $delete-button-rgba--inactive;
        cursor: pointer;
        opacity: 0.6;
        transition: all 0.3s ease;

        &:focus,
        &:hover {
          background-color: $delete-button-rgba--active;
          opacity: 1.0;
        }

        .application-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 60%;
          height: 60%;
          transform: translate(-50%, -50%);

          > path {
            fill: $body-text;
          }
        }
      }
    }
  }
}
