
  $body-text: #f7f7f7;
  $bg-color: #232323;

  $developer-gray: #ccc;

  $ok: #52f27d;
  $bad: #d61a1a;
  $action: #0da4d6;
  
  $delete-button: $bad;
  $delete-button-rgb: rgb(214, 26, 26);
  $delete-button-rgba--inactive: rgba(214, 26, 26, 0.6);
  $delete-button-rgba--active: rgba(214, 26, 26, 1.0);

  $action-button: $action;
  $action-button-rgb: rgb(13, 164, 214);
  $action-button-rgba--inactive: rgba(13, 164, 214, 0.0);
  $action-button-rgba--active: rgba(13, 164, 214, 1.0);

  $char-count-ok: $ok;
  $char-count-ok-rgb: rgb(82, 242, 125);
  $char-count-ok-rgba--inactive: rgba(82, 242, 125, 0.6);
  $char-count-ok-rgba--active: rgba(82, 242, 125, 1.0);

  $char-count-bad: $bad;
  $char-count-bad-rgb: rgb(214, 26, 26);
  $char-count-bad-rgba--inactive: rgba(214, 26, 26, 0.6);
  $char-count-bad-rgba--active: rgba(214, 26, 26, 1.0);


  

